# Ejemplo de archivo de configuración de variables de entorno locales.
# Duplica este archivo, cámbiale el nombre a '.env' y coloca tu API Key de Gemini.

GEMINI_API_KEY=AQ.Ab8RN6KXeiTwX0W8Io2mZXwxqryzcihQ8QpUZ3X1cCA87b4_Iw
